mixin h2 (h2)
    h2=h2
    hr 
mixin habilidades-circles (src, alt, h3, p)
    .col-lg-3.col-md-3
        .ih-item.circle.effect20.top_to_bottom.mg-auto
            a(href="#")
                .img
                    img(src=src, alt=alt)
                .info
                    .info-back
                        h3=h3
                        p=p
mixin canciones (h3, p, href)
    .col-lg-4.col-md-4.text-center
        h3=h3
        p=p
        a(href=href) Ver más
